@using Tag4s.Data
@using Tag4s.Helpers
@model Tag4s.Data.VolumDiscount
@{
    var translation = ViewBag.Translation as Dictionary<string, string>;
    var controllername = ViewBag.ControllerName as string;
    var actionname = ViewBag.ActionName as string;
    var filter = ViewBag.Filter as Tag4s.Filters.ViewFilter;
    ViewBag.Title = String.Format("{0}-{1}", Html.DisplayNameTranslatedFor("", "Details", "Details", ref translation), controllername.TranslateString(ref translation));
    BreadCrum.SetName(ViewBag.Title, Session);
}

<h2>Details</h2>

@Html.DisplayForModel()
<p>
    @Utilities.ActionImageWithText("Edit".TranslateString(ref translation), customImages.Edit, "Edit","User",new { id=Model.Id }, false, "autowidth") |
    @BreadCrum.ActionLinkStepBack(Session, ref translation)
</p>
