@{
    ViewBag.Title = "_Template";
}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>redirect.estate</title>
    <meta name="description" content="redirect.estate">
    <meta name="author" content="SitePoint">
</head>
<body>

</body>
</html>
