@using System.Web.Optimization
@using System.Web.UI.WebControls
@using Tag4s.Data
@using Tag4s.Helpers


@{
    var translation = ViewBag.Translation as Dictionary<string, string>;
    var breadcrum = ViewBag.BreadCrum as Dictionary<int, BreadCrumItem>;

    var controllername = ViewBag.ControllerName as string;
    var actionname = ViewBag.ActionName as string;

    var whiteBackground = "";
    if (controllername != "Home" && !(controllername == "Team" && (actionname == "Status" || actionname == "StatusCoordinator") || (actionname == "Index" && controllername == "Statistics")))
    {
        whiteBackground = "white_background";
    }

    if (((actionname == "ForgotPassword" || actionname == "ResetPassword") && controllername == "Home"))
    {
        whiteBackground = "white_background";
    }

    if ((actionname == "Index" && controllername == "Import"))
    {
        whiteBackground = "";
    }

    var isMobile = (bool)ViewBag.IsMobile;

    var User = ViewBag.User as User;
}

<html lang="en-US" class="no-js">
<!--<![endif]-->
<head>

    <title>redirect.estate</title>
    <meta name="description" content="redirect.estate">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
        .myc {
            background: url('/Tag4s/Images/redirect.estate/bg.jpg') no-repeat;
            width: 100%;
            height: 100%;
        }

        .fullscreen {
            width: 100%;
            height: 100%;
        }

        body {
            padding: 0px;
        }

        .navbar-xs {
            min-height: 30px;
            border-radius: 0 background-color : black;
        }

            .navbar-xs .navbar-nav {
                margin: 0;
            }

            .navbar-xs .navbar-right {
                float: right !important;
            }

                .navbar-xs .navbar-right:last-child {
                    margin-right: -15px;
                }

            .navbar-xs .navbar-nav > li {
                float: none;
                display: inline-block;
            }

                .navbar-xs .navbar-nav > li > a {
                    bord ` er-right: 1px solid #ddd;
                    padding-top: 2px;
                    padding-bottom: 0px;
                    line-height: 28px;
                }

            .navbar-xs .navbar-text {
                margin-top: 0px;
                margin-bottom: 0px;
                padding-top: 6px;
            }

            .navbar-xs span.glyphicon {
                color: blue;
                padding-right: 8px;
            }

            .navbar-xs span.badge {
                background-color: blue;
                border-color: #d6e9c6;
                color: white;
            }

        .showme {
            display: none;
        }

        .showhim:hover .showme {
            display: block;
        }

        .float-item {
            position: absolute;
        }

        #navi, #infoi {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50px;
            left: 0;
        }

        #infoi {
            z-index: 10;
        }

        /*  Dropdown menu on small screens
             .navbar-xs .dropdown-menu>li>a {
             display: block;
             padding: 3px 20px;
             clear: both;
             font-weight: 400;
             line-height: 1.428571429;
             color: #333;
             white-space: nowrap;
             }

             .navbar-xs .navbar-nav .open .dropdown-menu {
             position: relative; // static
             float: none;
             width: auto;
             margin-top: 0;
             background-color: white;
             border: 1;
             box-shadow: none;
             } */
        voor magento menu bar nav.navbar.navbar-noborder {
            border-radius: 0;
        }
    </style>
</head>

<body>
    <div class="myc">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">redirect.estate</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="../">Home</a>
                        </li>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="Home/Webstore"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Webstore</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div>
            <div id="navi">
                <div id="showhim">
                    <img id="pens" class="float-item" src="/Tag4s/Images/redirect.estate/pens.png" style="margin-top: 63px; margin-left: 95px" />
                    <div class="showme float-item">
                        Hello there
                    </div>
                </div>
                <img id="logo" class="float-item" src="/Tag4s/Images/redirect.estate/logo.png" style="margin-top: 75px; margin-left: 388px; " />
                <img id="glasses" class="float-item" src="/Tag4s/Images/redirect.estate/glasses.png" style="margin-top: 415px; margin-left: 194px; " />
                <img id="keychain" class="float-item" src="/Tag4s/Images/redirect.estate/keychain.png" style="margin-top: 300px; margin-left: 473px; " />
                <img id="cards" class="float-item" src="/Tag4s/Images/redirect.estate/cards.png" style="margin-top: 452px; margin-left: 802px; " />
                <img id="home" class="float-item" src="/Tag4s/Images/redirect.estate/home.png" style="margin-top: 132px; margin-left: 741px" />
            </div>
            <div id="info">
                <canvas id="myCanvas" class="fullscreen"></canvas>
            </div>
        </div>
        <img id="cloud" src="/Tag4s/Images/redirect.estate/cloud_small.png" />

        @RenderBody()
    </div>

    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");

            var img = document.getElementById("cloud");
            img_x = 10;
            img_y = 50;

            var img1 = document.getElementById("cloud");
            var img_x1 = 20;
            var img_y1 = 100;

            //floatImage(img1, img_x1, img_y1)

            var images = Array();
            for (var spawn = 0; spawn < 14; spawn++) {
                img1 = document.getElementById("cloud");
                var img_x1 = Math.floor((Math.random() * 200) + 3);
                var img_y1 = Math.floor((Math.random() * 100) + 1);
                var rate = Math.random();
                base_image = new Image();
                base_image.src = '/Tag4s/Images/redirect.estate/cloud_small.png'
                image = {
                    item: spawn,
                    img_x: img_x1,
                    img: base_image,
                    img_y: img_y1,
                    rate: rate
                };

                images.push(image);
                // floatImage(img1, img_x1, img_y1,rate)
            }
            update();
            function floatImageNoUpdate(this_img, x, y, rate) {
                //ctx.clearRect(0, 0, c.width, c.height)
                x += 0.8;
                this_img.x = x
                ctx.drawImage(this_img, x, y);
                console.log(this_img.x);
                setTimeout(function () {
                    floatImageNoUpdate(this_img, x, y);
                }, 50);

            }

            function update() {
                setInterval(function () {
                    ctx.clearRect(0, 0, c.width, c.height);

                    images.forEach(function (entry) {
                        //console.log(entry.img);
                        floatImage(entry, entry.img, entry.img_x, entry.img_y, entry.rate)
                    });
                }, 70);
            }

            function floatImage(entry, this_img, x, y, rate) {
                //ctx.clearRect(0, 0, c.width, c.height)
                x += rate;
                entry.img_x = entry.img_x + rate;
                //console.log(x);
                ctx.drawImage(this_img, entry.img_x, y);

                //console.log(this_img+":"+this_img.x);
                /*setTimeout(function() {
                 floatImage(this_img, x, y, rate);
                 }, 70);*/

            }

        });
    </script>
</body>

</html>