@using Tag4s.Helpers
@{
    var translation = ViewBag.Translation as Dictionary<string, string>;
    var controllername = ViewBag.ControllerName as string;
    var actionname = ViewBag.ActionName as string;
    var filter = ViewBag.Filter as Tag4s.Filters.ViewFilter;
    ViewBag.Title = String.Format("{0}", Html.DisplayNameTranslatedFor("", "ForgotPassword", "ForgotPassword", ref translation) );
    BreadCrum.SetName(ViewBag.Title, Session);
}
<h2>@ViewBag.Title</h2>

<fieldset>
    <p>@Html.DisplayNameTranslatedFor("","ForgotPasswordMessage","ForgotPasswordMessage",ref translation)</p>
    @BreadCrum.ActionLinkStepBack(Session, ref translation)
</fieldset>
    